<% provide(:title, 'Admin') %>
<h1>Admin welcome</h1>

<ul>
  <li><%= link_to "Разделы", admin_sections_path %></li>
  <li><%= link_to "Категории", admin_categories_path %></li>
  <li><%= link_to "Ссылки", admin_links_path %></li>
  <li><%= link_to "Книги", admin_books_path %></li>
  <li><%= link_to "Заметки", admin_posts_path %></li>
</ul>