<% provide(:title, 'Web books') %>
<div class="row">
	<div class="span10">
	  <div class="thema-text">Хорошие книги, рекомендую почитать</div>

  <table class="books-desc" >
  	<% group_books = @books.each_slice(2).to_a %>
    <% group_books.each do |group| %>
      <tr>
      	<% group.each do |book| %>
      	  <td class="border-corner" width="50%" valign="top">
      	  	<table>
      	  		<tr>
      	  			<td width="220" valign="top">
									<a href="<%= book.source_url %>">
							      <img src="<%= book.image_url %>" alt="<%= book.name %>"  width="220">
							    </a>
							  <td>

							  <td valign="top">
								  <%= link_to book.name, book.source_url %>
								  <p>Автор: <b><%= book.author %></b></p>
								  <p><%= summary_for_html_text(book.description, @number_symbols_summary_description) %></p>
								  <div>
								    <span class="color-green">Категория: </span>
								    <%= link_to book.category.name, category_books_path(book.category) %>
								  </div>
								</td>

							</tr>
						</table>
      	  </td>
      	<% end %>
      </tr>
    <% end %>
  </table>

<%= will_paginate @group_books %>

<div class="span2">
  <%= render 'web/shared/fixed_list_categories', categories: @categories, path_creator: method(:category_books_path) %>
</div>

</div>