<% provide(:title, 'Web book') %>

<div class="row">
	<div class="col-md-3">
	  <img src="<%= @book.image_url %>" alt="<%= @book.name %>">
	</div>

	<div class="col-md-9">
		<div class="thema-text">
			<%= @book.name %>
		</div>

		<%= @book.description.html_safe %>

		<div style="margin: 20px 0 0 0;">
		  <%= link_to "Можно купить тут", @book.source_url, target: "_blank" %>
		</div>

		<div style="margin: 20px 0 0 0;">
		  <span class="color-green">Категория: </span>
		  <%= link_to "#{@book.category.name}", books_path(books: {category_id: @book.category} ) %>
		</div>
	</div>
</div>