<!-- content 
	================================================== -->
<!--<div id="content">
	<div class="inner-content">
		<div class="portfolio-container">
		
			<div class="portfolio-box">

				<div class="project-post">
					<div class="galery-box">
						<a href="upload/1.jpg" class="zoom">
							<img alt="" src="upload/1.jpg">
							<span>logo</span>
						</a>							
					</div>
					<div class="content-box">
						<h2><a href="single-project.html">Creative Brand Design</a></h2>
						<p>logo design for lorem company</p>
					</div>
				</div>

				<div class="project-post">
					<div class="galery-box">
						<a href="upload/2.jpg" class="zoom">
							<img alt="" src="upload/2.jpg">
							<span>logo</span>
						</a>							
					</div>
					<div class="content-box">
						<h2><a href="single-project.html">Creative Brand Design</a></h2>
						<p>logo design for lorem company</p>
					</div>
				</div>

				<div class="project-post">
					<div class="galery-box">
						<a href="upload/3.jpg" class="zoom">
							<img alt="" src="upload/3.jpg">
							<span>logo</span>
						</a>							
					</div>
					<div class="content-box">
						<h2><a href="single-project.html">Creative Brand Design</a></h2>
						<p>logo design for lorem company</p>
					</div>
				</div>

				<div class="project-post">
					<div class="galery-box">
						<a href="upload/4.jpg" class="zoom">
							<img alt="" src="upload/4.jpg">
							<span>logo</span>
						</a>							
					</div>
					<div class="content-box">
						<h2><a href="single-project.html">Creative Brand Design</a></h2>
						<p>logo design for lorem company</p>
					</div>
				</div>

			</div>
	  </div>

		<a class="show-more" href="#">Show more</a>
	</div>
</div>
<!-- End content -->

<div id="content">
	<div class="inner-content">

    <div class="row">
	    <div class="col-md-8">
	      <h3>Заметки</h3>
	      <%= render 'web/posts/posts_list', posts: @posts %>
	      <%= link_to "Все заметки...", posts_path, class: "show-more" %>
	    </div>

			<div class="col-md-4">
				<h3>Полезные ссылки</h3>
				<%= render 'web/links/links_list', links: @links %>
			</div>

			<!--<div class="col-md-4">
				<center>
					<h3>Хорошая книга</h3>
					<% @books.each do |book| %>
					  <a href="<%= book_path(book) %>">
						  <img src="<%= book.image_url %>" alt="<%= book.name %>">
						</a>
						<div class="caption">
						  <h4><%= link_to book.name, book_path(book) %></h4>
						  <p>Автор: <b><%= book.author %></b></p>
						  <p><%= summary_for_html_text(book.description, @number_symbols_summary_description) %></p>
						  <div>
						    <span class="color-green">Категория: </span>
						    <%= link_to book.category.name, category_books_path(book.category) %>
						  </div>
						</div>
				  <% end %>
			  </center>
			</div>-->

		</div>

  </div>
</div>