<% provide(:title, 'Home') %>

<div style="width: 100%; height: 170px; background: url(<%= asset_path 'slide-01.jpg' %>)">

	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">

			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h1>Обратная связь.</h1>
						<p class="lead">По всем вопросам и предложениям прошу писать мне на почту albertulgu@list.ru.</p>
						<!-- <a class="btn btn-large btn-primary" href="#">Sign up today</a>		 -->
					</div>
				</div>
			</div>
			
			<div class="item">
				<div class="container">
					<div class="carousel-caption">
						<h1>Об этом сайте.</h1>
						<p class="lead">Сайт на фреймворке Ruby on Rails. Это мой первый сайт написанный по данной технологии.</p>
						<!-- <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
					</div>
				</div>
			</div>

			<div class="item">
				<div class="container">
					<div class="carousel-caption">
						<h1>Обо мне.</h1>
						<p class="lead">Я программист. В данный момент, занимаюсь разработкой систем электронной индикации для российских вертолётов.</p>
						<!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
					</div>
				</div>
			</div>
		
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div> 

</div>

<div class="row">
	  <div class="span4">
	    <h3>Заметки</h3>
	    <%= render 'web/shared/posts/posts_list', posts: @posts %>
	  </div>

		<div class="span4">
			<h3>Полезные ссылки</h3>
			<%= render 'web/shared/links/links_list', links: @links %>
		</div>

		<div class="span4">
			<center>
				<h3>Хорошая книга</h3>
				<% @books.each do |book| %>
				  <!-- <a href="<%= book.source_url %>"> -->
				  <a href="<%= book_path(book) %>">
					  <img src="<%= book.image_url %>" alt="<%= book.name %>">
					</a>
					<div class="caption">
					  <!-- <h4><%= link_to book.name, book.source_url %></h4> -->
					  <h4><%= link_to book.name, book_path(book) %></h4>
					  <p>Автор: <b><%= book.author %></b></p>
					  <p><%= summary_for_html_text(book.description, @number_symbols_summary_description) %></p>
					  <div>
					    <span class="color-green">Категория: </span>
					    <%= link_to book.category.name, category_books_path(book.category) %>
					  </div>
					</div>
			  <% end %>
		  </center>
		</div>

</div>
