<% provide(:title, 'Admin link') %>
<div class="thema-text">Администрирование ссылок</div>

<div class="button_new_record_db">
  <%= link_to 'Новая ссылка...', new_admin_link_path, :class => 'btn btn-primary' %>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= sort_link @q, :id %></th>
      <th><%= sort_link @q, :created_at %></th>
			<th><%= sort_link @q, :url %></th>
      <th><%= sort_link @q, :category %></th>
      <th><%= sort_link @q, :description%></th>
			<th></th>
      <th></th>
		</tr>

		<tbody>
      <% @links.each do |item| %>
        <tr>
        	<td><%= item.id %></td>
          <td><%= item.created_at %></td>
        	<td><%= link_to item.url, item.url %></td>
          <td><%= item.category.name %></td>
          <td><%= item.description %></td>
          <% if item.published %>
            <td class = "public-content"><%= item.published %></td>
          <% else %>
            <td class = "unpublic-content"><%= item.published %></td>
          <% end %>
        	<td>
            <div class="btn-group">
              <%= link_to edit_admin_link_path(item), class: 'btn btn-success btn-sm' do %>
                Изм.
              <% end %>

              <%= link_to admin_link_path(item), method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-danger btn-sm' do %>
                Удал.
              <% end %>
            </div>

        	</td>
        </tr>
      <% end %>
    </tbody>
	</thead>
</table>

<%= will_paginate @links %>