<% provide(:title, 'Admin link') %>
<h1>Администрирование ссылок</h1>
<%= link_to 'Новая ссылка...', new_admin_link_path, :class => 'btn btn-primary' %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= sort_link @q, :id %></th>
			<th><%= sort_link @q, :url %></th>
      <th><%= sort_link @q, :category %></th>
      <th><%= sort_link @q, :description%></th>
			<th></th>
		</tr>

		<tbody>
      <% @links.each do |item| %>
        <tr>
        	<td><%= item.id %></td>
        	<td><%= item.url %></td>
          <td><%= item.category.name %></td>
          <td><%= item.description %></td>
        	<td class="btn-group">
        		<%= link_to edit_admin_link_path(item), class: 'btn btn-mini' do %>
        		  <i class = "icon-pencil"></i>
        		<% end %>

						<%= link_to admin_link_path(item), method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-mini btn-danger' do %>
              <i class = "icon-trash"></i>
						<% end %>

        	</td>
        </tr>
      <% end %>
    </tbody>
	</thead>
</table>

<%= will_paginate @links %>