<% provide(:title, 'Admin book') %>
<h1>Администрирование книг</h1>
<%= link_to 'Новая книга...', new_admin_book_path, :class => 'btn btn-primary' %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= sort_link @q, :id %></th>
      <th><%= :image_url %></th>
			<th><%= sort_link @q, :name %></th>
      <th><%= sort_link @q, :category %></th>
      <th><%= sort_link @q, :description %></th>
      <th><%= :source_url %></th>
			<th></th>
		</tr>
		<tbody>
      <% @books.each do |item| %>
        <tr>
        	<td><%= item.id %></td>
          <td>
            <img src="<%= item.image_url %>" alt="" class="img-rounded">
          </td>
        	<td><%= item.name %></td>
          <td><%= item.category.name %></td>
          <td><%= item.description %></td>
          <td><%= item.source_url %></td>
        	<td class="btn-group">
        		<%= link_to edit_admin_book_path(item), class: 'btn btn-mini' do %>
        		  <i class = "icon-pencil"></i>
        		<% end %>

						<%= link_to admin_book_path(item), method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-mini btn-danger' do %>
              <i class = "icon-trash"></i>
						<% end %>

        	</td>
        </tr>
      <% end %>
    </tbody>
	</thead>
</table>

<%= will_paginate @books %>