<% provide(:title, "Sign in") %>

<div class="center">
	<div class="thema-text">Вход в административную панель</div>

	  <%= simple_form_for :session, url: admin_sessions_path,
	  wrapper_mappings: {
	    check_boxes: :vertical_radio_and_checkboxes,
	    boolean: :vertical_boolean
	  } do |f| %>
		  <%= f.error_notification %>
		  

		  <%= f.input :email, placeholder: 'Введите email' %>
		  <%= f.input :password, placeholder: 'Введите пароль' %>  

		  <%= f.submit "Войти", class: "btn btn-large btn-primary"  %> 
		<% end %>


</div>