<% provide(:title, 'Web links') %>
<% group_categories = @group_links.keys.each_slice(3).to_a %>
<% group_categories.each do |group| %>
  <div class="row">
  	<% group.each do |category| %>
      <div class="<%= span_type(group, 12) %>"> <!--TODO magic number -->
  	  	<h2><%= category.name %></h2>
  	  	<% links = @group_links[category] %>
  	  	<% links.each do |link| %>
          <div style="padding: 0 0 7px 0">
            <img height="16" width="16" src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
          	<%= link_to link.url, link.url %>
          	<%= summary_for_html_text(link.description) %>
          </div>  	  	
  	  	<% end %>
  	  	<p><a class="btn" href= "<%= category_links_path(category) %>">Все ссылки &raquo;</a></p>	
  	  </div>
  	<% end %>
  </div>
<% end %>