<% provide(:title, 'Web category links') %>

<div class="row">
  <div class="span10">
    <div class="thema-text">
      <%= @category.name %>
    </div>
    <% pairs_links = @links.each_slice(2).to_a %>
    <% pairs_links.each do |pair| %>
      <div class="row">
      	<div class="media">
      		<% pair.each do |link| %>
      		  <div class="<%= span_type(pair, 10) %>"> <!--TODO magic number -->
					    <div class="media-body media-body-interval">
					      <h4 class="media-heading">
                  <img height="16" width="16" src="http://www.google.com/s2/favicons?domain=<%= link.url %>" />
                  <%= link_to "#{link.url}", url_for(link.url) %>
                </h4>
					      <%= link.description %>
					    </div>
				    </div>
      		<% end %>
      	</div>
      </div>
    <% end %>
		<%= will_paginate @posts %>
  </div>

  <div class="span2">
	  <%= render 'web/shared/fixed_list_categories', categories: @categories, path_creator: method(:category_links_path) %>
  <div>

</div>
