<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "workroom", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Книги",   '#' %></li>
          <li><%= link_to "Ссылки",  '#' %></li>
          <li><%= link_to "Заметки", '#' %></li>
          <li><%= link_to "Резюме", '#' %></li>
          <li><%= link_to "Определения", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
